extends layout.pug

block content
  div.order-container
    if success
      h2 Success!
    h3 Orders
    each order in orders
      div.order-wrapper
        div.order-information
          span ID: #{order.order_id}
        div.order-item
          div.product-list
            h6 Products
            ul
              each product in order.products
                li #{product}
          div.contact-information
            h6 Name
            span #{order.name}
            h6 Address
            span #{order.address}
            h6 Email
            span #{order.email}
